body {
    height: 100vh;
    background-color: hsl(215, 81%, 96%);
}

.form-container {
    display: grid;

}

.background__border {
    background-color: white;
    background-size: cover;
    width: 100vw;
    height: 4.5rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

