.footer {

    background-color: white;
    position: sticky;
    display: grid;
    bottom: 0;
    margin-top: auto;
}

.form__plan__button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem
}

.form__plan__button-group button {
    width: 25vw;
    height: 5vh;
    display: grid;
    place-items: center;
}

#go-back {
    justify-self: start;
    border-color: white;
}

#button__go-back {
    border: none;
    background-color: white;
    color: hsl(248, 5%, 71%);
}

#button__go-back:hover {
    cursor: pointer;
    color: hsl(214, 46%, 20%);
}

#button__continue {
    background-color: hsl(214, 94%, 18%);
    color: white;
    border: none;
    border-radius: .25rem;
}

#button__continue:hover {
    cursor: pointer;
    background-color: hsl(215, 72%, 32%);
}

.button__solo {
    position: relative;
    right: -67vw
}

.button__hidden {
    display: none !important;
}


@media (min-width: 768px) {
    .footer {
        position: relative;
        display: grid;
        bottom: 5.75rem;
        margin-top: auto;
        background-color: revert;
    }

    #button__go-back {
        border: none;
        background-color: transparent;
        color: hsl(248, 5%, 71%);
        translate: 20.125rem;
        font-size: 1.25rem;
    }

    .form__plan__button-group button {
        width: 14vw;
        height: 6vh;
        display: grid;
        place-items: center;
    }

    #button__continue {
        border-radius: .5rem;
        translate: -5.875rem;
        width: 11vw;
    }

    .button__solo {
        position: relative;
        left: 48rem;
        right: revert;
    }

    .button__confirm {
        background-color: hsl(243, 100%, 62%) !important;
        width: 10vw !important;
        height: 5.5vh !important;
    }

    .button__confirm:hover {
        background-color: hsl(244, 98%, 77%) !important;
    }
}
